<mat-grid-list cols="5" rowHeight="2:1">
  <mat-grid-tile colspan="5">
    <app-search-form (search)="showResults($event, results, filter)"></app-search-form>
  </mat-grid-tile>
  <div *ngIf="searching" style="position: absolute; left: 30%; top: 10%; z-index: 3">
    <div>
      <h1>Wir suchen nach den besten Angeboten...</h1>
    </div>
    <div>
      <img src="assets/images/logo.png">
    </div>
  </div>
  <mat-grid-tile colspan="1" rowspan="4">
    <app-search-filter #filter></app-search-filter>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="4">
    <app-result-list #results></app-result-list>
  </mat-grid-tile>
</mat-grid-list>
