.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  margin: 10px;
}

:host {
  .example-custom-date-class {
    background: orange;
    border-radius: 100%;
  }
}

.sizeit {
  height: 55px;
  margin-top: -17px;
}

.results-list {
  width: 100%;
  padding: 20px;
}

.example-list-wrapping {
  max-width: 100vh;
}
