/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #444; color: #fefefe !important; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.date-availability-low {
    background-color: #FFADAD !important;
  }

  .date-availability-medium {
    background-color: #FDFFB6 !important;
  }

  .date-availability-high {
    background-color: #CAFFBF !important;
  }

.rokas-card {
    background-color: #666 !important;
}