.results-list {
  width: 100%;
}

.rokas div {
  float: left;
  font-size: 15px
}

.rokas-card {
  margin-bottom: 20px;
}

.more-info {
  width: 70px;
  padding: 0 10px;
}

.duration {
  font-size: 12px !important;
  color: #efefef;
}
